:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    min-height: 100%;
    height: auto;
    width: 100%;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

body .theme-toggle-button {
    position: absolute;
    top: 5%;
    right: 2%;
    min-width: 20px;
    padding: 10px;
}

body .theme-toggle-button .MuiButton-icon {
    margin: 0;
}

/* General */
a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

span {
    width: auto;
}

.flex {
    display: flex;
}

.toggle-aside {
    position: fixed;
    top: 4%;
    left: 2%;
    z-index: 11;
    transition: left ease-in-out 0.3s;
    color: #0a0a0a;
}

.toggle-aside:has(~ aside.collapsed) {
    left: 9%;
}