/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE


*=============================================================*/
/*===================================*
    01.GENERAL STYLE
*===================================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --brown: #8d6e63;
    --white-cream: #f5f5dc;
    --white: #fff;
    --black: #000;
    --gray: #e0e0e0;
    --yellow: #020202;
    --yellow-cream: #f5f5dc;
    --blue: #0e6de2;
    --testa-red: #cc0033;

    /* Header */
    --header-bg: #0e6de2;

    /* Section overview */
    --overview-title: #05405a;
    --overview-description: #29323c;

    /* Footer */
    --footer-bg: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
/*===================================*
    01.END GENERAL STYLE
*===================================*/
/*










*/
/*===================================*
    02.START HEADER
*===================================*/
/* Header */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--header-bg);
    transition: all 0.3s;
    z-index: 1000;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}

.logo-link {
    display: flex;
    align-items: center;
    color: var(--white);
}

.logo-link h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    transition: color 0.3s;
}

.logo-link:hover h1 {
    color: #e0e0e0;
}

/* Nav */
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    display: inline-block;
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 0.25rem;
    padding: 0.75rem 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s;
}

.nav-item a:hover {
    color: var(--white-cream);
    background-color: #105ab4ad;
}

/*===================================*
    02.END HEADER
*===================================*/
/*










*/
/*===================================*
    02.START MAIN
*===================================*/
/* Main */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Video banner */
.video-banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.video-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Hero */
.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 4rem;
    margin: 0 auto;
}

.hero-container h1 {
    position: relative;
    width: 32.125rem;
    height: 10rem;
    font-size: 5rem;
    line-height: 5rem;
    color: var(--white);
    margin-bottom: 0.125rem;
    user-select: none;
}

.hero-container h1 span {
    position: absolute;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
    background-color: #00000040;
}

.hero-container h1 span:first-child {
    top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hero-container h1 span:last-child {
    bottom: 0;
    border-top-left-radius: 0;
}

.hero-container .cta {
    display: inline-block;
    width: 110px;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--testa-red);
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 1.875rem;
    transition: all 0.3s;
    background-color: #00000044;
}

.hero-container .cta:hover {
    background-color: rgb(161, 33, 33);
}
/*===================================*
    02.END MAIN
*===================================*/
/*










*/
/*===================================*
    03.START OVERVIEW SECTION
*===================================*/
/* OVERVIEW SECTION */
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3.125rem 2rem;
}

.home-overview-section {
    align-items: stretch;
    flex-direction: row;
    background-color: var(--yellow-cream);
}

/* Info */
.overview-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 1rem;
}

.overview-title {
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Libre Baskerville", sans-serif;
    color: var(--overview-title);
    margin-bottom: 0.125rem;
}

/* Description */
.overview-description {
    font-size: 1rem;
    padding: 1.5rem 0;
    color: var(--overview-description);
}

.overview-text {
    font-size: 1rem;
    padding: 1.5rem 0;
    color: var(--overview-description);
}

.overview-text strong {
    margin-right: 0.25rem;
}

/* List */
.overview-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    list-style: disc;
}

.overview-item {
    font-size: 1rem;
    color: var(--overview-description);
    padding: 0.5rem 0;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.5px;
    list-style: disc;
}

/* Image */
.overview-image {
    width: 60%;
}

.overview-image img {
    width: 100%;
    height: auto;
}
/*===================================*
    03.END OVERVIEW SECTION
*===================================*/
/*










*/
/*===================================*
    04.START MENU SECTION
*===================================*/
.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3.125rem 6rem;
}

.menu-section .menu-title {
    margin: 2rem;
    color: var(--overview-title);
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.menu-section .MuiGrid2-container {
    border: 5px solid var(--gray);
}

/* Selector */
.menu-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* Menu button */
.menu-button.MuiButton-root {
    width: 10rem;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    color: var(--white);
    text-transform: uppercase;
}

/* Menu category item */
.menu-category-item.MuiMenuItem-root {
    color: var(--black);
    padding: 0.75rem 1.75rem;
}

/* Scrollbar */
.menu-section .MuiGrid2-container::-webkit-scrollbar {
    width: 10px;
}

.menu-section .MuiGrid2-container::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    border-radius: 10px;
}

.menu-section .MuiGrid2-container::-webkit-scrollbar-track {
    background-color: var(--gray);
    border-radius: 10px;
}

/*===================================*
    04.END MENU SECTION
*===================================*/
/*










*/
/*===================================*
    05.START CONTACT SECTION
*===================================*/
.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3.125rem 2rem;
}

.address-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0.5rem;
}

.address-info {
    flex: 1;
}

.address-list.MuiList-root {
    height: 100%;
    padding: 0;
    color: var(--black);
}

.address-list-title {
    font-size: 1.5rem;
    color: var(--blue);
    margin-left: 1rem;
}

.address-list-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    color: var(--black);
    gap: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
}

.address-list-item:hover {
    color: var(--testa-red);
}
/*===================================*
    05.END CONTACT SECTION
*===================================*/
/*










*/
/*===================================*
    10.START FOOTER
*===================================*/
/* Footer */
footer {
    position: relative;
    background-image: var(--footer-bg);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3.125rem 2rem 0.75rem;
    z-index: 1000;
}

.brand-name {
    font-size: 1.875rem;
    text-transform: uppercase;
    color: var(--white);
}

footer h2 {
    font-size: 1.25rem;
    color: var(--white);
    margin: 1rem 0;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* Social media */
.social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.social-media-container a {
    margin: 0 0.5rem;
    font-size: 1.25rem;
}

.social-media-container a img {
    filter: grayscale(1);
    transition: all 0.3s;
}

.social-media-container a:hover img {
    filter: grayscale(0);
}

.copy-right {
    font-size: 1rem;
    color: var(--white);
    margin: 0 0.5rem;
    font-weight: 400;
}

/* Source selector */
.source-selector {
    position: absolute;
    bottom: 30;
    right: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.source-menu .MuiMenu-list {
    color: var(--white);
    padding: 0;
}

.source-option.MuiMenuItem-root {
    font-size: 1rem;
    background-color: #ffffff;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.source-button {
    width: 150px;
}

/*===================================*
    10.END FOOTER
*===================================*/
